@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto+Condensed:wght@300&display=swap");
/* Style for the main content container */
body {
  background-image: url("../images/font_background.jpg");
  background-size: cover;
}
h1,
h2 {
  font-family: "Gloock", serif;
}
#content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9b69b;
  font-family: "Roboto Condensed", sans-serif;
  color: #6c3751;
}
p {
  font-size: 25px;
}

header {
  display: flex;

  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: #eb6d47;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  height: 150px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  text-align: center;
  padding-inline: 140px;
  text-decoration: none;
  color: #6c3751;
  font-size: 25px;
}

nav a:hover {
  color: red;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  position: relative;
}

#background1 {
  position: absolute;
  top: 10;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #de9268;
}

#hero-msg {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #6c3751;
}

.home-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.galleria-card,
.milanonotte-card {
  text-align: center;

  width: 100%;
}
.galleria-card .text {
  width: 50%;
  float: right;
  padding-top: 10%;
}
.milanonotte-card .text {
  float: left;
  padding-top: 10%;
  width: 49%;
}

.card-img {
  width: 48%;
  height: auto;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
  font-size: 25px;
}
footer {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #eb6d47;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 40px;
}

footer p,
.social {
  margin: 10px 40px;
}

.social img {
  padding-left: 20px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/*HEADER SCROLL*/
.header2 {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 2%;
  background-color: #eb6d47;
}

/* The progress container  */
.progress-container {
  width: 100%;
  height: 3px;
  background: #eb6d47;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #04AA6D;
  width: 0%;
}
h3{
  font-size: 9px;
  float: left;
  float: top;
}